services:
  db:
    image: postgres:${POSTGRES_VERSION}
    container_name: ${POSTGRES_CONTAINER_NAME}
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./backend/src/db/init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 3s
      timeout: 3s
      retries: 20

  backend:
    build:
        context: ./backend
        dockerfile: Dockerfile
    container_name: ${BACKEND_CONTAINER_NAME}
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}
      - PORT=${BACKEND_PORT}
      - CORS_ORIGIN=${BACKEND_CORS_ORIGIN}
      - JWT_SECRET=${BACKEND_JWT_SECRET}
    ports:
        - "${BACKEND_PORT}:${BACKEND_PORT}"
    depends_on:
      db:
        condition: service_healthy
    volumes:
        - ./backend:/app
        - /app/node_modules
    command: sh -c "npm install && npm run dev"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ${FRONTEND_CONTAINER_NAME}
    environment:
      - VITE_API_BASE_URL=${FRONTEND_VITE_API_BASE_URL}
      - VITE_BASE=${FRONTEND_VITE_BASE}
      - VITE_HOST=${FRONTEND_VITE_HOST}
      - VITE_PORT=${FRONTEND_VITE_PORT}
      - VITE_ALLOWED_HOST_1=${FRONTEND_ALLOWED_HOST_1}
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port ${FRONTEND_PORT}"

volumes:
  db_data: